---
import ArticleMeta from "./ArticleMeta.astro";

const { href, frontmatter } = Astro.props;
const { title, pubDate, summary } = frontmatter;
---

<a href={href} class="block w-full no-underline">
  <article
    class="group w-full rounded border-l-2 border-red-700 p-4 transition duration-200 hover:border-red-500 hover:bg-neutral-600 hover:shadow hover:shadow-neutral-600/30"
  >
    <h2
      class="text-xl font-semibold text-neutral-300 transition-colors duration-200 group-hover:text-neutral-100"
    >
      {title}
    </h2>
    <ArticleMeta frontmatter={frontmatter} />
    {
      summary && (
        <p class="line-clamp-3 text-sm text-neutral-500 group-hover:text-neutral-400">{summary}</p>
      )
    }
  </article>
</a>
