---
import "../styles/global.css";
import { siteConfig } from "../config/siteConfig";
const { author } = siteConfig;
const currentYear = new Date().getFullYear();
---

<footer class="text-center text-neutral-400">
  © {currentYear}
  <span class="mx-2">·</span>
  <span>{author}</span>
  <span class="mx-2">·</span>
  <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a>
</footer>
