<style type="text/css">
<!--
.social-a-cstm {color: #64748b; }
.social-a-cstm:hover {color: #6bb8ff; }
-->
</style>
<div class="mt-1 text-4xl" style="text-align:center;">
    {{ with .Site.Author.links }}
    <div>
        {{ range $links := . }}
        {{ range $name, $url := $links }}
        <a 
            class="px-1 social-a-cstm"
            href="{{ $url | safeURL }}"
            target="_blank"
            aria-label="{{ $name | title }}"
            rel="me noopener noreferrer"
        ><span class="inline-block align-text-bottom">{{ partial "icon.html" $name }}</span></a
        >
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
</div>
